body {
	background-color:gray;
	font-family: sans-serif;
}
h1 {
	padding: 5px;
	color: white;
	text-align: center;
	background-color: #D3D3D3;
}
.navbar {
	float: left;
	padding-right: 100px;
}
ul {
	padding: 0;
	list-style-type: none;
	font-weight: bold;
}
li a {
	text-decoration: none;
	color: #D3D3D3;
}
div#content {
	float: left;
	width: 84%;
}
div#copyright {
	padding: 10px;
	text-align: right;
	clear: both;
	background-color:#505050;
	color:gray;
}
